# Korea Investment Securities API
# 모의투자 (Paper Trading)
KIS_APP_KEY=PSbxiCkTakXFtIWVsavcV1dXxAxRT5u9xnsi
KIS_APP_SECRET=TUy018iwxpxMcUVHnDNy9ypW5AHyg2Ntwo8r741QggrVohSFngIXGPHi1ZeKs/JGnKL1PW8r4qYYC0YMMuB1fmVSzhmQ2WvNH92IvV/DQlCNbp5ucLeRVYXQ7xP2V9GT8sVzMpHDRppTIXxqPF8Wb2pJRCUOpo7clcW5qPZe06qyKSnevxs=
KIS_ACCOUNT_NO=50184605
KIS_IS_PAPER_TRADING=true

# 실전투자 (Live Trading) - 1개월 후 전환
# KIS_APP_KEY=PSnIcZWprazESbhpgHDsnGEdyCTOCUz9atvY
# KIS_APP_SECRET=0/1/vQKDk0/NR4LBnXnz7FH50YOPB3f+axd3yxx/eTgJK/d2+ENd4NCxZUxjTabd3DGoGSaVgeJ7EnkRh1HjEPk/1hPL9Kcv/jtcmUqo+zD5/QoFPG0Cr1EWqhk9BDOWY6NffWbdYLC8tjlWAVl0QF1nENKnHNDABx86dZdPNwqQZ54aCOs=
# KIS_ACCOUNT_NO=44449489-01
# KIS_IS_PAPER_TRADING=false

# 알림 설정 (선택)
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# 로그 레벨
LOG_LEVEL=INFO
